* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0f172a;
  color: white;
  overflow-x: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100%;
  height: 99vh;
  background-image: url("./futureMakhalla.webp");
  background-repeat: no-repeat;
  background-size: cover;
  /* linear-gradient(135deg, #1e3a8a, #0ea5e9); */
}

.hero div {
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(40%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  max-width: 600px;
  opacity: 0.9;
}

.form-section {
  background: #0f172a;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
}

.form-container {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #0ea5e9, #3b82f6);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.success {
  position: fixed;
  inset: 0;
  background: #0f172a;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.success h1 {
  font-size: 40px;
  margin-top: 20px;
}

.emoji {
  font-size: 80px;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 20;
}
